*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#f8eef3;
}

.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px;
    background:#fff;
    position:sticky;
    top:0;
}

.logo{
    font-size:24px;
    color:#ff4f93;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:20px;
}

.nav-links a{
    text-decoration:none;
    color:black;
}

.hero{
    display:flex;
    padding:60px;
    gap:40px;
    align-items:center;
}

.hero h1{
    font-size:40px;
}

.btn{
    background:#ff4f93;
    color:#fff;
    padding:12px 25px;
    border-radius:30px;
    display:inline-block;
    margin-top:15px;
    text-decoration:none;
    border:none;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:40px;
}

.card{
    background:#fff;
    padding:20px;
    border-radius:15px;
}

.about-box,.contact-box{
    background:#fff;
    padding:40px;
    margin:40px auto;
    max-width:700px;
    border-radius:20px;
}

.footer{
    text-align:center;
    padding:20px;
    background:#fff;
    margin-top:40px;
}

@media(max-width:768px){
    .hero{
        flex-direction:column;
        text-align:center;
    }

    .nav-links{
        display:none;
    }
}